
.thumbJudger a.thumbUp {
  background: transparent url(agree.png) 0 0 no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}

.thumbJudger a.thumbDown {
  background: transparent url(disagree.png) 0 0 no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}

.thumbJudger a.thumbRating {
	color: #3E3E3E;
	font-size: 48px;
  padding-left: 6px;
  padding-right: 6px;
}


.starJudger div a {
  background: transparent url(judger.png) 0 0 no-repeat;
  display: inline-block;
  height: 23px;
  width: 12px;
  text-indent: -999em;
  overflow: hidden;
}

.starJudger a.rating-right {
  background-position: 0 -23px;
  padding-right: 6px;
}

.starJudger a.rating-over {
  background-position: 0 -46px;
}

.starJudger a.rating-over.rating-right {
  background-position: 0 -69px;
}

.starJudger a.rating {
  background-position: 0 -92px;
}

.starJudger a.rating.rating-right {
  background-position: 0 -115px;
}

.judger1up {
  position: relative;
  left: -35px;
  top: -4px;
  opacity: 1;
}
